:root{
    --primary: #7f9227;
    --secondary:#000;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border: 2px solid var(--secondary);
}
.container header img{
    display: inline-block;
    margin-bottom: 5%;
    border-bottom: 5px solid var(--secondary);
}

.container header section #great_cont{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--secondary);
}
.container header section #great_cont div{
    font-size: 1.4rem;
}
.container header section h4{
    font-size: 1.2rem;
    text-align: center;
}

main{
    width: 400px;
}
main .form-container{
    width: 100%;
    overflow: hidden;
}
main .form-container form{
    width: 450%;
    display: flex;
    
}
main .form-container form .page{
    width: 40%;
    text-align: center;
}
main .form-container form .page label{
    display: inline-block;
    margin-bottom: 3%;
} 
main .form-container form .page #quest1res1,main .form-container form .page #quest2res1,
main .form-container form .page #quest3res1,main .form-container form .page #quest4res1,
main .form-container form .page #quest5res1 {
    position:relative;
    top: 0;
    right:20%;
} 

main .form-container form .page #quest1res2,main .form-container form .page #quest2res2,
main .form-container form .page #quest3res2,main .form-container form .page #quest4res2,
main .form-container form .page #quest5res2{
    position:relative;
    bottom: 8%;
    left:20%;
} 
main .form-container form .page #quest1res3,main .form-container form .page #quest2res3,
main .form-container form .page #quest3res3,main .form-container form .page #quest4res3,
main .form-container form .page #quest5res3 {
    position:relative;
    top: 0;
    right:18%;
} 
main .form-container form .page #quest1res4,main .form-container form .page #quest2res4,
main .form-container form .page #quest3res4,main .form-container form .page #quest4res4,
main .form-container form .page #quest5res4 {
    position:relative;
    bottom: 13%;
    left:18%;
} 
main .form-container form .page #quest3res1{
    position:relative;
    top: 0;
    right:16%;
} 
main .form-container form .page #quest1res4{   
        position:relative;
        bottom: 9%;
        left:18%;
}

main .form-container form .page #quest2res4{
    position:relative;
    bottom: 10%;
    left:24%;
}
main .form-container form .page #quest3res4{
    position:relative;
    bottom: 9%;
    left:22%;
}
main .form-container form .page #quest4res4{
    position:relative;
    bottom: 9%;
    left:15%;
}
.form-container form .page #quest4res2{
    position:relative;
    bottom: 9%;
    left:5%;
}
main .form-container form .page #quest5res4 {
    position:relative;
    bottom: 9%;
    left:22%;
}
form .page .button button{
    display: inline-block;
    margin-bottom: 5%;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px var(--secondary);
}
form .page .button .submit{
    margin-left: 5%;
}
form .page .button #submit5{
    margin-left: 35%;
}
form .page .button .switch .next{
    margin-left: 33%;
}
form .page .button .switch .prev{
    margin-left: 7%;
}
form .page .button .switch #next4{
    margin-right: 4%;
}
main .form-container form .page #quest5res3 {
    position:relative;
    top: 0;
    right:21%;
} 

footer{
    position: relative;
    display: flex;
    background-color: #7f9227;
    border-top: 5px solid var(--secondary);
}
footer p{
    font-size: 1.1rem;
    margin-left: 5%;
}