<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Level</title>
    <link rel="stylesheet" href="/css/advance.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/img/background2.jpg" alt="">
            <section>
                <div id="great_cont"><div id="nom"></div> <div id="score">Score:</div></div>
                <h4>Advance</h4>
            </section>
        </header>
        <main>
            <div class="progress_bar">
                <div class="step">
                    <div class="bullet">
                        <span>1</span>
                    </div>
                    <div class="check">
                        <img src="/img/icons/check.png" width="1.7%" class="true" id="true1" alt="">
                        <img src="/img/icons/cross.png" class="false" id="false1" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check">
                        <img src="/img/icons/check.png" width="1.7%" class="true" id="true2" alt="">
                        <img src="/img/icons/cross.png" class="false" id="false2" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check">
                        <img src="/img/icons/check.png" width="1.7%" class="true" id="true3" alt="">
                        <img src="/img/icons/cross.png" class="false" id="false3" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check">
                        <img src="/img/icons/check.png" width="1.7%" class="true" id="true4" alt="">
                        <img src="/img/icons/cross.png" class="false" id="false4" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>5</span>
                    </div>
                    <div class="check">
                        <img src="/img/icons/check.png" width="1.7%" class="true" id="true5" alt="">
                        <img src="/img/icons/cross.png" class="false" id="false5" width="1.7%" alt="">
                    </div>
                </div>
        </div>
            <div class="form-container">
                <form action="">
                    <div class="page switch_page" >
                        <label for="quest1">Who is the football player who has won 6 champions league?</label><br>
                        <input type="text" id="quest1" value="">
                        <div class="button">
                            <button id="submit1">submit your answer</button>
                            <div>
                                <button id="prev1">Previous</button>
                                <button class="next" id="next1">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <label for="quest2">In which year the UEFA champions league has been created?</label><br>
                        <input type="text" id="quest2" value="">
                        <div class="button">
                            <button id="submit2">submit your answer</button>
                            <div>
                                <button id="prev2">Previous</button>
                                <button class="next" id="next2" class="next">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <label for="quest3">which is the most successful football club in the world?</label><br>
                        <input type="text" value="" id="quest3">
                        <div class="button">
                            <button id="submit3">submit your answer</button>
                            <div>
                                <button id="prev3">Previous</button>
                                <button id="next3" class="next">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <label for="quest4">Which nation has won the first FIFA world cup?</label><br>
                        <input type="text" id="quest4" value=""><br>
                        <div class="button">
                            <button id="submit4">submit your answer</button>
                            <div>
                                <button id="prev4">Previous</button>
                                <button id="next4" class="next">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="page">
                        <label for="quest4">Who holds the record of the most goals scored <br> in a single fifa world cup tournament? </label><br>
                        <input type="text" id="quest4" value="">
                        <div class="button">
                            <button id="submit5">Finish</button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </main>
            
        <footer>
            <p>Follow us on</p>
        </footer>
    </div>
    <script src="/js/advance.js"></script>
</body>
</html>