<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Level</title>
    <link rel="stylesheet" href="css/easy.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="img/background2.jpg" alt="">
            <section>
                <div id="great_cont"><div id="nom"></div> <div id="score">Score:</div></div>
                <h4>Easy</h4>
            </section>
        </header>
        <main>
            <div class="progress_bar">
                <div class="step">
                    <div class="bullet">
                        <span>1</span>
                    </div>
                    <div class="check">
                        <img src="img/icons/check.png" width="1.7%" class="true" id="true1" alt="">
                        <img src="img/icons/cross.png" class="false" id="false1" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>2</span>
                    </div>
                    <div class="check">
                        <img src="img/icons/check.png" width="1.7%" class="true" id="true2" alt="">
                        <img src="img/icons/cross.png" class="false" id="false2" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>3</span>
                    </div>
                    <div class="check">
                        <img src="img/icons/check.png" width="1.7%" class="true" id="true3" alt="">
                        <img src="img/icons/cross.png" class="false" id="false3" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>4</span>
                    </div>
                    <div class="check">
                        <img src="img/icons/check.png" width="1.7%" class="true" id="true4" alt="">
                        <img src="img/icons/cross.png" class="false" id="false4" width="1.7%" alt="">
                    </div>
                </div>
                <div class="step">
                    <div class="bullet">
                        <span>5</span>
                    </div>
                    <div class="check">
                        <img src="img/icons/check.png" width="1.7%" class="true" id="true5" alt="">
                        <img src="img/icons/cross.png" class="false" id="false5" width="1.7%" alt="">
                    </div>
                </div>
            </div>
            <div class="form-container">
                <form action="" id="form">
                    <div class="page switch_page">
                        <label for="quest1">Which country has won the 2022 world cup?</label><br>
                        <input type="text" value="" id="quest1">
                        <div class="button">
                                <button class="submit" id="submit1"> Submit your answer</button>
                                <div class="switch">
                                    <button class="prev" id="prev1">Previous</button>
                                    <button class="next" id="next1">Next</button>
                                </div>
                        </div>
                    </div>

                    <div class="page">
                        <label for="quest2">From which country is Cristiano Ronaldo?</label><br>
                        <input type="text" value="" id="quest2">
                        <div class="button">                           
                                <button class="submit" id="submit2"> Submit your answer</button>
                                <div class="switch">
                                    <button class="prev"  id="prev2">Previous</button>
                                    <button class="next"  id="next2">Next</button>
                                </div>
                        </div>
                    </div>

                    <div class="page">
                        <label for="quest3">From which country is Lionel Messi?</label><br>
                        <input type="text" value="" id="quest3">
                        <div class="button">
                                <button class="submit" id="submit3"> Submit your answer</button>
                                <div class="switch">
                                    <button class="prev"  id="prev3">Previous</button>
                                    <button class="next" id="next3">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="page">
                        <label for="quest4">Which Country won the 2020 ACN?</label><br>
                        <input type="text" value="" id="quest4">
                        <div class="button">
                                <button class="submit" id="submit4"> Submit your answer</button>
                                <div class="switch">
                                    <button class="prev"  id="prev4">Previous</button>
                                    <button class="next" id="next4">Next</button>
                                </div>
                        </div>
                    </div>

                    <div class="page">
                        <label for="quest5">Which player won the Ballon d'or 2022?</label><br>
                        <input type="text" value="" id="quest5">
                    <div class="button">
                        <div>
                            <button class="submit" id="submit5"> Finish</button>
                        </div>
                    </div></div>
                </form>
            </div>
        </main>
        <footer>
            <p>Follow us on</p>
        </footer>
    </div>
    <script src="js/easy.js"></script>
</body>
</html>