<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select level</title>
    <link rel="stylesheet" href="css/level.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="img/background2.jpg" alt="">
            <section>
                <div id="great_cont"><div id="great">Welcome</div> <div id="name"><div></div>
            </section>
        </header>
        <main>
            <div>
            <h4>Choose a Level to start</h4>
            <button id="easy">Easy</button>
            <button id="intermediate">Intermediate</button>
            <button id="advance">Advance</button>
            <button id="previous">Previous</button>
            </div>
        </main>

        <footer>
            <p>Follow us on</p>
        </footer>
    </div>
    <script src="js/level.js"></script>
</body>
</html>